html, body, .container-fluid {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel-container {
  background-color: #2c2c2d;
  display: flex;
  /*overflow: auto;*/
}

.panel-course {
  height: 100px;
  width: 160px;
  border-style: solid;
  border-width: 1px;
  background-color: #d1d1d1;
  margin: 10px;
  padding: 5px;
  position: relative;
}

.panel-course-header {
  position: relative;
  height: 30px;
}

.panel-course-name {
  position: absolute;
  left: 0;
}
.panel-course-details-icon {
  position: absolute;
  right: 0;
}

.panel-course-footer {
  position: absolute;
  bottom: 0;
  left: 2px;
}

.panel-term {
  height: 90%;
  width: 200px;
  background-color: #4a4a4a;
  margin: 10px;
}


#main {
  height: 100%;
}

#course-panel {
  height: 100%;
  width: 100%;
}

.tab-content .tab-pane {
    padding: 70px 0;
}

#navigation, #search {
    background-color: #1c1f27;
}

#main {
    padding-top: 55px;
}
