html {
  height: 1020px;
  font-family: 'Arimo',sans-serif;
}

/* Body style */
body {
  height: 100%;
  margin: 0px;
}

/* Main container style */
#main {
  height: 100%;
}

.form-group {
	display: inline;
}

/* Select choice style */
.form-control {
  border: 1px solid #5f5858;
  background-color: #353535;
  color: #f3f2f2;
  font-size: inherit;
  margin: 5px 5px 5px 0px;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.form-control:hover > option:hover {
	background-color: #ff0000;
}

/* Courses Board style */
#course-panel {
  height: 100%;
  width: 100%;
}

/* Primary Button */
.btn-primary {
  background-color: #0077cc;
  border: 1px solid #656565;
  border-radius: 3px;
  color: #f3f2f2;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #04558e;
}

/* Secondary Button */
.btn-secondary {
  background-color: #8e8e8e;
  border: 1px solid #656565;
  border-radius: 3px;
  color: #f3f2f2;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.btn-secondary:hover {
	background-color: #616161;
}

/* Action Button */
.btn-action {
  background-color: #1d7108;
  border: 1px solid #656565;
  border-radius: 3px;
  color: #f3f2f2;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.btn-action:hover {
	background-color: #0f4003;
}

/* Danger Button */
.btn-danger {
  background-color: #980a0a;
  border: 1px solid #656565;
  border-radius: 3px;
  color: #f3f2f2;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.btn-danger:hover {
  background-color: #730505;
}

/* Course sortable placeholder highlight */
.ui-state-highlight {
  height: 85px;
  width: 160px;
  margin: 0px 0px 10px 15px;
  padding: 0px 0px 5px 5px;
  background-color: #313131;
}

/* Select Dropdown */
.form-group-new {
  width: 100%;
}

ul.dropdown-select {
  text-align: left;
  display: block;
  margin: 0;
  padding: 10px 4px 10px 0;
  list-style: none;
  width: 100%;
}

ul.dropdown-select-small {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 10px 4px 10px 0;
  list-style: none;
  height: 20px;
  position: relative;
  top: 8px;
}

ul.dropdown-select li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 10px 3px 7px 5px;
  background: #353535;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  width: 75%;
  border: 1px solid #8c8c8c;
}

ul.dropdown-select-small li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 2px 3px 2px 5px;
  background: #353535;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
  width: 75%;
  border: 1px solid #8c8c8c;
  height: 14px;
  font-size: 13px;
}

ul.dropdown-select li div p.dropdown-value , ul.dropdown-select-small li div p.dropdown-value {
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  width: 87%;
}

ul.dropdown-select li:hover, ul.dropdown-select-small li:hover {
  background: #353535;
  color: #fff;
}

ul.dropdown-select li ul {
  padding: 0;
  position: absolute;
  top: 34px;
  left: -1px;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  transition: visibility 0s, opacity 0.2s linear;
  z-index: 100;
}

ul.dropdown-select-small li ul {
  padding: 0;
  position: absolute;
  top: 19px;
  left: -1px;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  transition: visibility 0s, opacity 0.2s linear;
  z-index: 100;
}

ul.dropdown-select li ul li {
  width: 95%;
  padding-bottom: 10px;
  margin-bottom: -1px;
  background-color: #353535;
  border: 1px solid #707070;
}

ul.dropdown-select-small li ul li {
  width: 87%;
  padding-bottom: 10px;
  margin-bottom: -1px;
  background-color: #353535;
  border: 1px solid #707070;
  height: 10px;
}

ul.dropdown-select li ul li > span, ul.dropdown-select-small li ul li > span {
  text-decoration: none;
  display: block;
  color: #fff;
}

ul.dropdown-select li > div span.arrow-down {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 5px;
	width: 15px;
	height: 15px;
	background-image: url('/assets/icons8-expand-arrow-48.png');
	background-size: 15px 15px;
}

ul.dropdown-select-small li > div span.arrow-down {
  position: absolute;
  display: inline-block;
  top: 1px;
  right: 5px;
	width: 15px;
	height: 15px;
	background-image: url('/assets/icons8-expand-arrow-48.png');
	background-size: 15px 15px;
}
