#modal-reqs {
	position: absolute;
}

#modal-reqs-header {
	height: 20px;
}

#modal-reqs-footer {
	margin-top: 5px;
	margin-right: 10px;
	height: 37px;
}

#modal-reqs-title {
	position: relative;
	top: 10%;
}

#modal-reqs-fulfilled-status {
	float: right;
	margin-right: 8px;
	padding: 3px 6px 2px 6px;
	background-color: #bd0b0b;
	border-radius: 3px;
	position: relative;
}

#modal-reqs-content {
	background-color: #353535;
	color: #f3f2f2;
	padding: 8px 0px 5px 15px;
	border: 1px solid #757575;
	width: 250px;
    height: 355px;
	position: absolute;
	top: 50px;
	right: 0px;
	font-size: 14px;
}

#modal-reqs-list {
	height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 8px;
	border: 1px solid #757575;
}

#modal-reqs-clear-button {
	float: right;
}

#reqs-course-list {
	padding-left: 0px;
	margin: 0;
	font-size: 14px;
	background-color: #232323;
}

.reqs-course-item {
	list-style-type: none;
	height: 25px;
	margin: 3px 0px 3px 0px;
	padding: 2px 0px 0px 5px;
}

.reqs-checkmark-bg {
	background-color: #484646;
	height: 18px;
	width: 18px;
	float: left;
	margin: 3px;
}

.reqs-checkmark-bg img {
	height: 100%;
	width: 100%;
}

.reqs-course-name {
	position: relative;
	top: 4px;
	left: 10px;
}

.reqs-course-separator {
	list-style-type: none;
}

.reqs-course-separator hr {
	margin: 0;
	border: 0;
	background-color: #615f5f;
	height: 1px;
}

.reqs-course-conditional {
	list-style-type: none;
	padding: 2px 0px 0px 5px;
}

.reqs-conditional-text {
	position: relative;
	left: 34px;
}
