
#notification-content {
    width: 80vw;
    height: 200px;
    position: fixed; 
    bottom: -210px;
    margin-left: 10vw;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #480606;
    z-index: 1000;
}

#notification-icon {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px; margin-top: 10px;
}

#notification-icon span {
    position: fixed;
}

#notification-title {
    position: relative;
    display: inline-block;
    top: -8px;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

#notification-text {
    position: relative;
    display: inline-block;
    top: -8px;
    margin-left: 7px;
    color: #ffffff;
    font-size: 15px;
}

#notification-details-toggle {
    position: relative;
    top: -8px; 
    float: right;
    top: 18px;
    right: 20px;
    color: #382828;
    text-decoration: underline;
}

#notification-dismiss-button {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 10px; 
    top: 0;
}

#notification-header {
    height: 50px;
}

#notification-body {
    height: 150px;
    margin-left: 40px;
    color: #ffffff;
}

.notification-body-block {
    display: block;
}

.notification-danger {
    background-color: #ca1a1a;
}

.notification-success {
    background-color: #456f25;
}

.notification-warning {
    background-color: #b76c37;
}

.notification-info {
    background-color: #275ea2;
}