.sidebar {
    min-height: 1000px;
    width: 200px;
    float: left;
    z-index: 1;
    left: 0;
    background-color: #3e3e3e;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .sidebar div > div:not(.sidebar-header-title):not(.sidebar-header-content) {
    padding: 6px 8px 6px 9px;
    text-decoration: none;
    font-size: 14px;
    color: #f2f2f2;
    display: block;
  }

  .sidebar > div {
    position: relative;
    left: 0px;
    display: flex;
  }

  .sidebar-header-title {
    display: block;
    width: 100%;
    padding-top: 10px;
  }

  .sidebar-header-title > span {
    font-size: 18px;
    font-weight: bold;
    padding: 0 30% 0 30%;
  }

  .sidebar-header-content {
    height: 20px;
    padding: 0 25px;
  }

  .sidebar-header-content-title {
    float: left;
  }

  .sidebar-header-content-icon {
    float: right;
    background-image: url(/assets/icons8-expand-arrow-48-right.png);
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
  }

  #sidebar-select-view, #sidebar-wizard-view {
    min-width: 200px;
  }